<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DBEntities"
         connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=192.168.1.8;initial catalog=SimERP;persist security info=True;user id=sim;password=Sim@123;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="DBConnectionString"
         connectionString="Data Source=192.168.1.8;Initial Catalog=SimERP; Persist Security Info=True;User ID=sim;Password=Sim@123;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;" />
  </connectionStrings>

  <appSettings>
    <add key="DataPath" value="\\192.168.1.10\Public\Minh" />
    <add key="AllowCORSURL" value="https://congcutinhgiaban.simvn,http://localhost:4200,https://demo.congcutinhgiaban.simvn" />
    <add key="DataExcelFileNameCIFPrice" value="CIFPrice.xlsx" />
    <add key="DataAccessFileNameCIFPrice" value="DataTemplate.accdb" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />

    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />

    <add key="LANGUAGE" value="vi-VN"></add>
    <add key="IsCheckSign" value="1"></add>
    <add key="API_StoreID" value="1"></add>
    <add key="API_Address" value="192.1.1.1"></add>
    <add key="API_UserName" value="SIM-EPR"></add>
    <add key="API_Password" value="C4CA4238A0B923820DCC509A6F75849B"></add>
    <add key="API_SecretKey" value="C4CA4238A0B923820DCC509A6F75849B"></add>
    <add key="API_SignKey" value="@@@123"></add>
    <add key="API_Token" value="@@@123"></add>

    <add key="IsPayment" value="true"></add>
  </appSettings>
</configuration>