<div class="header_content_v2">
  <section class="form_content_v2">
    <form>
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
              <li class="breadcrumb-item active" aria-current="page">Bảng giá vận chuyển</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-left">
          <p class="text-uppercase"
             style="font-size:18px;color: #587792; font-weight:bold; font-family: 'Lato', sans-serif;"><span>Bảng giá vận chuyển</span>
          </p>
        </div>
        <div class="col-sm-8 text-right">
          <div class="form-group">
            <button type="button" class="btn btn-success btn-sm" (click)="SerachAction()">
              <i class="fab fa-searchengin"></i> Tìm kiếm
            </button>&nbsp;
            <button type="button" class="btn btn-primary btn-sm" (click)="AddModel()" data-toggle="modal"
                    data-target="#MyModal">
              <i class="fas fa-plus-circle"></i> Thêm mới
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <label class="col-sm-12 control-label">Tìm kiếm</label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3 ">
                <input type="text" [(ngModel)]="dataSerach" (change)="SerachAction()" name="dataSerach"
                       class="form-control form-control-sm" placeholder="Mã, Giá, Diễn giải">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
<div class="main_content_v2">
  <section class="form_content_v2">
    <div class="table-responsive_v2">
      <!-- Table  -->
      <table class="table table-bordered table-striped table-hover">
        <!-- Table head -->
        <thead>
        <tr>
          <th>#</th>
          <th>Mã Giá Vận Chuyển</th>
          <th>Diễn Giải</th>
          <th>Vận Chuyển Từ Kho</th>
          <th>Giá Vận Chuyển</th>
          <th>Ghi Chú</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <!-- Table head -->
        <!-- Table body -->
        <tbody>
        <tr *ngIf="lstDataResult.length <= 0">
          <td colspan="7" class="datarow-null">Dữ liệu không tồn tại</td>
        </tr>
        <tr *ngFor="let row of lstDataResult; let i = index">
          <td class="order-number">{{i + 1 + (pagingComponent.getLimit() * (page - 1))}}</td>
          <td class="col-code text-left"><a (click)="EditModel(i)" data-toggle="modal" data-target="#MyModal"
                                            style='color:#337ab7;'>{{row.MaDoGiaVc}}</a></td>
          <td class="col-note">{{row.DienGiai}}</td>
          <td class="col-note">{{row.StoreName}}</td>
          <td class="text-right">{{row.GiaVc | localNumber}}</td>
          <td class="col-note">{{row.GhiChu}}</td>
          <td class="col-action">
            <a (click)="EditModel(i)" data-toggle="modal" data-target="#MyModal"><img [src]=editIcon></a>&nbsp;&nbsp;&nbsp;
            <a (click)="openDialog(row.Id)"><img [src]=deleteIcon></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top: 10px;">
      <app-pagination (goPage)="goToPage($event)" (changeLimit)="changeLimit()" (goNext)="onNext()" (goPrev)="onPrev()"
                      [pagesToShow]="5" [page]="page" [perPage]="limit" [count]="total"></app-pagination>
    </div>
  </section>
</div>

<!-- The Modal -->
<div class="modal fade" id="MyModal" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 *ngIf="isNewModel" class="modal-title">THÊM MỚI GIÁ VẬN CHUYỂN</h4>
        <h4 *ngIf="!isNewModel" class="modal-title">CHỈNH SỬA GIÁ VẬN CHUYỂN</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="CloseModel()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form_content_v2">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><label class="control-label" style="padding-top: 10px;">Mã giá vận chuyển</label>
                  <label class="control-label-require">*</label></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><label class="control-label" style="padding-top: 10px;">Giá vận chuyển</label>
                  <label class="control-label-require">*</label></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <input type="text" #MaDoGiaVC='ngModel' [(ngModel)]="objModel.MaDoGiaVc" name="MaDoGiaVC"
                         placeholder="Mã giá vận chuyển" required maxlength="250"
                         [ngClass]="{ 'is-invalid': MaDoGiaVC.touched  && MaDoGiaVC.invalid }"
                         class="form-control form-control-sm">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <input type="text" (keypress)="isNumberKey($event)" #GiaVC='ngModel' [(ngModel)]="objModel.GiaVc"
                         (blur)="formatNumber()" name="GiaVc" id="GiaVc" placeholder="Giá vận chuyển" required
                         maxlength="20" [ngClass]="{ 'is-invalid': GiaVC.touched  && GiaVC.invalid }"
                         class="form-control form-control-sm text-right">
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12"><label class="control-label" style="padding-top: 10px;">Ngày tạo</label> <label
                  class="control-label-require"></label></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">

                <div class="col-sm-12"><label class="control-label" style="padding-top: 10px;">Vận chuyển từ kho</label>
                  <label
                    class="control-label-require">*</label></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <input disabled type="text" [(ngModel)]="objModel.CreatedDate" name="CreatedDate"
                           class="form-control form-control-sm" bsDatepicker #dpFromDate="bsDatepicker"
                           [bsConfig]="bsConfig" placeholder="Chọn ngày">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <ng-select [(ngModel)]="objModel.StoreId" required name="StoreId" class="select-custom select-full-border">
                      <ng-option *ngFor="let status of lstStore" [value]="status.StoreId">{{status.StoreName}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12"><label class="control-label" style="padding-top: 10px;">Diễn giải</label> <label
                  class="control-label-require"></label></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <textarea type="text" [(ngModel)]="objModel.DienGiai" name="DienGiai" placeholder="Diễn giải" rows="2"
                        maxlength="2000" class="form-control form-control-sm"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12"><label class="control-label" style="padding-top: 10px;">Ghi chú</label> <label
                  class="control-label-require"></label></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <textarea type="text" [(ngModel)]="objModel.GhiChu" name="Notes" placeholder="Ghi chú" rows="2"
                        maxlength="2000" class="form-control form-control-sm"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="objModel.IsActive" id="IsActive"
                       name="IsActive">
                <label class="custom-control-label" for="IsActive">Sử dụng</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" [ngClass]="{'wrapper': !checkValidateForm()}">
        <button type="button" [ngClass]="{'pointer-events-none': !checkValidateForm()}" class="btn btn-info btn-sm"
                (click)="saveDataModel(true)">
          <i class="far fa-save"></i> Lưu
        </button>&nbsp;
        <button type="button" [ngClass]="{'pointer-events-none': !checkValidateForm()}" class="btn btn-info btn-sm"
                (click)="saveDataModel(false)">
          <i class="far fa-save"></i> Lưu & Thêm mới
        </button>&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal" #closeAddExpenseModal
                (click)="CloseModel()"><i class="far fa-window-close"></i> Đóng
        </button>
      </div>

    </div>
  </div>
</div>
